<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Max Phillips' Portfolio Site" />
     <meta name="image" property='og:image' content="<%= image_url('screenshot.png') %>"/>
     <meta property="og:description"
       content="Max Phillips' portfolio site"
     />
     <meta property="og:url"
       content="http://www.maxcphil.com/"
     />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
